body {
	font-family: sans-serif;
	background-color: #f7f7f7;
}

.container {
	margin: auto;
	padding: 20px;
	max-width: 600px;
	background-color: white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

h1 {
	text-align: center;
}

form {
	display: flex;
	margin-bottom: 20px;
}

input[type="text"] {
	flex: 1;
	padding: 10px;
	font-size: 16px;
	border: none;
	border-radius: 5px 0 0 5px;
}

button[type="submit"] {
	padding: 10px;
	background-color: #008000;
	color: white;
	font-size: 16px;
	border: none;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	padding: 10px;
	border-bottom: 1px solid #ccc;
	position: relative;
}

li:last-child {
	border-bottom: none;
}

li button.delete {
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
	background-color: #ff0000;
	color: white;
	border: none;
	padding: 5px;
	border-radius: 10%;
    padding: 15px;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}

li:hover button.delete {
	opacity: 1;
}
